*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
#juli-main{
    width: 100%;
    height: 100%;
    min-height: auto;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    border: 1px solid black;
    width: 100%;
    height: 80px;
}
nav{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}
.juli-main-nav-container{
    display: flex;
    width: 1280px;
    height: 80px;
    gap: 24px;
}
.juli-cc-logo{
    width: 149px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.juli-main-menu{
    width: 509.2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.juli-main-menu > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 100%;
}
.juli-main-menu > ul > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 14px;
}
.juli-arrow{
    height: 10px;
    width: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(135deg);
}
.juli-hero-section{
    width: 1440px;
    height: 698.69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    position: relative;
}
.juli-hero-imgs-box{
    width: 1306.9px;
    height: 616.69px;
    background-color: blue;
    position: relative;
}
.juli-hero-section > .juli-hero-imgs-box > img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.juli-hero-section > .juli-hero-imgs-box > h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.juli-hero-section > .juli-hero-imgs-box > p{
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
}
.juli-hero-section > .juli-hero-imgs-box > button{
    position: absolute;
    width: 280px;
    height: 40px;
    border-radius: 48px;
    top: 80%;
    left: 80%;
    transform: translate(-80%, -80%);
}
.juli-central-section{
    width: 1120px;
    height: 1445.89px;
    margin-top: 120px;
    background-color: orange;
}
.juli-experience-container{
    width: 1120px;
    height: 560.29px;
}
.juli-experience-imgs-box{
    background-color: blue;
    display: flex;
    position: relative;
}
.juli-coke-img-box{
    width: 640px;
    height: 480.29px;
    background-color: aqua;
}
.juli-coke-img-box > img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.juli-coke-studio-box{
    width: 544px;
    height: 552px;
    border-radius: 15px;
    position: absolute;
    bottom: 2%;
    left: 52%;
    background-color: blueviolet;
    padding: 64px 80px;
}
.juli-coke-studio-box > button{
    width: 327px;
    height: 40px;
    border-radius: 48px;
}
.juli-about-container{
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 517.6px;
    background-color: brown;
}
.juli-about-title{
    margin-top: 120px;
}
.juli-ac-img-box{
    background-color: white;
    width: 352px;
    height: 467.6px;
    border-radius: 15px;
}
.juli-ac-img-box > img{
    width:100%;
    height: 281.6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.juli-img-under-text-box{
    padding: 40px;
}
.juli-ac-link-arrow-box{
    border: 1px solid black;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 30px;
}
.juli-ac-arrow-container{
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}
.juli-ac-arrow-box{
    width: 10px;
    height: 10px;
    border-top: 2px solid red;
    border-right: 2px solid red;
    transform: rotate(45deg);
}
.juli-ac-ar-box{
    position: absolute;
    top: -20%;
    left: -90%;
    width: 20px;
    height: 8px;
    border-bottom: 2px solid red;
}
.juli-footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1120px;
    height: 400px;
    background-color: yellowgreen;
}
.juli-footer-title-box{
    margin-bottom: 32px;
}
.juli-brands-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 864px;
    height: 288px;
    background-color: cyan;
    margin-bottom: 32px;
}
.juli-brands-box{
    width: 256px;
    height: 256px;
    background-color: blueviolet;
    border-radius: 15px ;
}
.juli-footer-section > button{
    width: 327px;
    height: 40px;
    border-radius: 48px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    height: 615.6px;
    background-color: blue;
}
.juli-footer-container{
    padding-top: 72px;
    padding-bottom: 96px;
    display: flex;
    width: 1152px;
    height: 615.6px;
    background-color: black;
}
.juli-footer-icon-bttn-box{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: inherit;
    height: auto;
}
.juli-footer-icon-box{
    width: 249px;
    height: 40px;
    background-color: black;
}
.juli-footer-icon-box > img{
    width: 100%;
    height: 100%;
}
.juli-footer-icon-bttn-box{
    background-color: red;
    width: 100%;
    height: fit-content;
    margin-bottom: 48px;
}
.juli-footer-icon-bttn-box > button{
    width: 154.74px;
    height: 40px;
    border-radius: 48px;
    color: white;
    border: 1px solid white;
    background-color: black;
}













